### Imports

In [1]:
import pubchempy as pcp
from pubchempy import Compound, get_compounds
import pandas as pd
import numpy as np

### Cargamos el dataset

In [8]:
odor = pd.read_json('odor_relations.json', lines=False, orient='records')

In [9]:
odor.head()

        name  level     cid
0  ambergris  first  163259
1  ambergris  first  643723
2  ambergris  first  162452
3  alcoholic  first     887
4  alcoholic  first    7358

In [10]:
odor.tail()

                    name   level      cid
18124  apple green apple   first  5367681
18125  apple green apple   first  5365069
18126  apple green apple   third     8868
18127  apple green apple  second  5362816
18128              anise   first   637563

### Borramos unos cids que dan error

In [24]:
#Estos dan error, as√≠ que los borramos
odor=odor.drop(odor[(odor["cid"]=='163640541')].index)
odor=odor.drop(odor[(odor["cid"]=='Search')].index)

### Hacemos una lista de todos los smiles

In [26]:
smiles_all=[]
for i in odor["cid"]:
    c=Compound.from_cid(i)
    smiles_all.append(c.isomeric_smiles)

### Creamos el dataset y lo expotamos

In [30]:
odor.insert(3,"smiles",smiles_all,True)

In [31]:
odor.head()

        name  level     cid                                             smiles
0  ambergris  first  163259                    CCC(=O)CCC1C(=CCCC1(C)C)C.C#CCO
1  ambergris  first  643723  C/C(=C/C[C@@H]1[C@]2(CCCC([C@@H]2CC[C@@]1(C)O)...
2  ambergris  first  162452                          CC1(CCC=C2C1CCC(C2)(C)O)C
3  alcoholic  first     887                                                 CO
4  alcoholic  first    7358                                          CCC(CC)CO

In [32]:
odor.tail()

                    name   level      cid                 smiles
18124  apple green apple   first  5367681  CC/C=C\CCOC(=O)CC(C)C
18125  apple green apple   first  5365069  CC/C=C\CCOC(=O)C(C)CC
18126  apple green apple   third     8868        CCOC(=O)CC(=O)C
18127  apple green apple  second  5362816      CC/C=C/CCC(=O)OCC
18128              anise   first   637563  C/C=C/C1=CC=C(C=C1)OC

In [37]:
#comprobar que los cids y el smile etan en el orden correcto
Compound.from_cid(5367681).isomeric_smiles=='CC/C=C\CCOC(=O)CC(C)C'
Compound.from_cid(7358).isomeric_smiles=='CCC(CC)CO'

True

In [38]:
odor.to_json (r'C:\Users\nlupe\Desktop\QUART CURS\TFG\odor_smiles.json', lines=False, orient='records')